.git
.gitignore
.gitattributes
.github
.idea
.vscode
.fleet
.DS_Store

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.*
!.env.example

storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache
coverage

composer-setup.php
README.md
zoho-mail-setup.md

Dockerfile
docker-compose*.yml
.dockerignore
docker
